__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
*.egg-info
.coverage
.nextflow*
work/
trace-*.txt
rc.txt
.env
dump.rdb
MEvoLib/
nextflowFiles/mevolib-workflow/
nextflowFiles/uploads
output/
stderr.txt
stdout.txt